<div class="row top-margin">
  <div class="col s12 m8 l6 offset-m2 offset-l3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Login</span>
        <form #logInForm="ngForm" (ngSubmit)="onLogin()">
          <div class="input-field">
            <label for="username">Email</label>
            <input id="username" name="username" type="email" required
                   [(ngModel)]="user.email"
                   #username="ngModel">
            <span class="helper-text red-text" *ngIf="username.invalid && username.dirty">
              This field is required
            </span>
          </div>
          <div class="input-field">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" required
                   [(ngModel)]="user.password"
                   #password="ngModel" [minlength]="minPasswordLength">
            <span class="helper-text red-text" *ngIf="password.invalid && password.dirty">
              Password must have {{minPasswordLength}} characters
            </span>
          </div>
          <button class="btn waves-effect waves-light primary-color"
                  [class.disabled]="logInForm.form.invalid || isLoading"
                  type="submit"
                  name="action">{{ isLoading ? 'Loading...' : 'Log In' }}
          </button>
        </form>
        <div class="top-margin"><p>No account yet? Register <a class="links-inline" [routerLink]="'/sign-in'">here</a>.
        </p></div>
      </div>
    </div>
  </div>
</div>
